.ftype{
    font-family:Arial,sans-serif;
}
.gmail{
    text-decoration: none;
    color: #000;
    opacity: 0.75;
    display: inline;
    position: relative;
    font-size: 18px;
    float: right;
    height: 20px;
    margin-top: 1px;
    margin-right: 230px;
    padding-left: 15px;
}
.images{
    text-decoration: none;
    color: #000;
    opacity: 0.75;
    display: inline;
    position: relative;
    font-size: 18px;
    float: right;
    height: 20px;
    margin-top: 1px;
padding-left: 15px;
margin-right: -150px;
}
.apps{
    height: 20px;
    margin-top: 1px;
    margin-right: -190px;
    float: right;
    padding-left: 15px;
    opacity: .55;
}
.apps:hover{
    opacity: 1000;
}

.googleimg{
    height: 92px;
    width: 272px;
    padding-top: 109px;
    padding-left: 580px;
    margin-left:  250px;
    text-align: center;
    margin-bottom: 100px;
}
.search-area {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    z-index: 3;
    height: 52px;
    margin: 0 auto;
    margin-top: -77px;
    width: 582px;
    border-radius:30px;
} 
.search-area:hover{
    box-shadow: 4px 4px;
    color: rgba(0, 0, 0, 0.174);
}
.search {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
    width:480px;
}
.input{
    margin-left:10px;
    border: 0px;
}
.srcimg{
    width: 25px;
    padding-left:15px;
    height: 55px;
    opacity: 35%;
}
.micimg{
padding-left:305px; height:34px;
margin-top:8px;
}
.search-button{
    text-align: center;
    margin-left: 850px;
    opacity: 60%;
    font-family: Arial;
    border: 1px;
    color: #f2f2f2;
    height: 36px;
}
.search-button:hover{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.318);
    opacity: 1000%;
    border-radius:3px;
}
.lucky-button{
    text-align: center;
    font-family: Arial;
    opacity: 60%;
    border: 1px;
    color: #f2f2f2;
    height: 36px;
    margin-top:20px;
}
.lucky-button:hover{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.318);
    opacity: 1000%;
    border-radius:3px;
}
li{
    float: left;
    margin: 20px;
    list-style-type:none;
    margin-top:-60px;
}
    
.links{
    color:#5f6368;
    font-size:14pt;
    text-decoration:none;
}
.links:hover{
    box-shadow:0px 2px;
}
.fbar{
    height: 10px;
    width: 110%;
    background-color:#f2f2f2;
    line-height: 40px;
    border-top: 1px solid #f2f2f2;
    margin-top: 235px; 
    padding-top: 54px;
    margin-left: -10px;

    position: fixed;
}
.li1{
    float: right;
    margin:225px;
    list-style-type:none;
    margin-top:-60px;
    margin-left:-190px;
}